

<link rel="stylesheet" href="css/dashboard.css" />

<div class="scrollable">
 <div class="scrollable-content section">

<div class="container-fluid">
     <div class="row">
        <div class="col-xs-4 col-sm-3 dashboard-cell" >
             <div class="square-responsive" >
                  <a href="#/products" class="content">
                     <i class="fa fa-barcode"></i>
                     <span>Products</span>
                  </a>
             </div>
        </div>
        <div class="col-xs-4 col-sm-3 dashboard-cell">
             <div class="square-responsive">
                  <a href="#/mobile" class="content">
                    <i class="fa fa-mobile "></i>
                    <span>Mobile Apps</span>
                  </a>
             </div>
        </div>
        <div class="col-xs-4 col-sm-3 dashboard-cell">
             <div class="square-responsive">
                  <a href="#/reports" class="content">
                       <i  class="fa fa-area-chart"></i> 
                       <span>Reports</span>
                  </a>
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3 dashboard-cell">
             <div class="square-responsive">
                  <a href="#/feeds" class="content">
                       <i  class="fa fa-rss-square"></i>
                       <span>Our Feeds</span>
                  </a>
             </div>
        </div>

        <div class="col-xs-4 col-sm-3 dashboard-cell">
             <div class="square-responsive">
                  <a href="#/employees" class="content">
                       <i  class="fa fa-users"></i>
                       <span>Employees</span>
                  </a>
             </div>
        </div>

        <div class="col-xs-4 col-sm-3 dashboard-cell">
             <div class="square-responsive">
                  <a href="#/careers" class="content">
                       <i  class="fa fa-question-circle"></i>
                       <span>Careers</span>
                  </a>
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3 dashboard-cell">
             <div class="square-responsive">
                  <a href="#/announcements" class="content">
                       <i  class="fa fa-bullhorn"></i>
                       <span>Announcements</span>
                  </a>
             </div>
        </div>

        <div class="col-xs-4 col-sm-3 dashboard-cell">
             <div class="square-responsive">
                  <a href="#/about" class="content">
                       <i class="fa fa-calendar-o"></i>
                       <span>About Us</span>
                  </a>
             </div>
        </div>
    </div>

  </div>

  
 </div>
</div>